.parent{
   
    display:flex;
    justify-content: space-around;
    padding: 0 10vw;
    width: 100%;
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* }
.img-div{
    margin-top: 30px;
}
.img-div img{
    border-radius: 50%;
    
}
.content{
    margin: 90px;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}
.content h2{
    font-size: 30px;
}
.content h1{
    font-size: 40px;
    font-weight: 500;
} */
/* @media(max-width:768px){
    .parent{
        margin-top: 10vh;
        flex-direction: column;
    }
   
} */