.parent{
   
    display:flex;
    justify-content: space-around;
    padding: 0 10vw;
    width: 100%;
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.emoji-wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 2s infinite;
}
.glow {
  /* color: #44ADF8; Your text color */
  text-shadow: 0 0 5px #f0f7fc27, 0 0 10px #000000bb, 0 0 15px #44adf81f, 0 0 20px #04a1dfb9, 0 0 30px #0088ff2f, 0 0 40px #0088ff0e, 0 0 50px #0088ff2a;
}

/* }
.img-div{
    margin-top: 30px;
}
.img-div img{
    border-radius: 50%;
    
}
.content{
    margin: 90px;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}
.content h2{
    font-size: 30px;
}
.content h1{
    font-size: 40px;
    font-weight: 500;
} */
/* @media(max-width:768px){
    .parent{
        margin-top: 10vh;
        flex-direction: column;
    }
   
} */