@import "tailwindcss";
:root {
  
  
 
  font-family: "Nata Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
   color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f172a;
}
 
@layer components{
.common-h1{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
/* @keyframes slideUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */

/* Utility class to apply the animation */


/* Optional delay classes */
/* .delay-100 {
  animation-delay: 0.1s;
}
.delay-200 {
  animation-delay: 0.2s;
}
.delay-300 {
  animation-delay: 0.3s;
}
.delay-400 {
  animation-delay: 0.4s;
}
.delay-500 {
  animation-delay: 0.5s;
} */





